{% extends "layout.html" %}
{% block content %}
    {% for device in devices.items %}

        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + device.dispositivo.profile.image_file) }}" alt="Foto de Perfil del usuario asociado">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('usuarios.user_posts', username=device.dispositivo.username) }}">{{ device.dispositivo.username }}</a>
              <small class="text-muted">{{ device.linkDate.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('dispositivos.post', post_id=device.id) }}">{{ device.dispUser.serialID }}</a> </h2> 
                       
              {% if device.consumosDispositivo|length %}
                  {% set ultimoConsumo =  device.consumosDispositivo|map(attribute='date')|list|last %}         
                  {% if compare(ultimoConsumo) %}
                        <span class="badge badge-success">En Línea</span>
                  {% else %}
                        <span class="badge badge-danger">Not Online</span>
                  {% endif %}
              {% else %}
                    <span class="badge badge-warning">Sin Consumos</span>
              {% endif %}
             
            <p class="article-content"><strong>Categoria:</strong> {{ device.dispCategoria.title }} - <strong>Zona:</strong> {{ device.zona }} - <strong>Limite en CC:</strong> {{ device.configLimiteDispositivo.limitDefined }}</p>
            <p class="article-content"><strong>Fecha Inicial Monitoreo:</strong> {{ device.configLimiteDispositivo.startDateConfig.strftime('%Y-%m-%d') }} </p>
            <p class="article-content"><strong>Fecha Final Monitoreo:</strong> {{ device.configLimiteDispositivo.endDateConfig.strftime('%Y-%m-%d') }} </p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in devices.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if devices.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('principal.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('principal.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
