<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>FlowApp - {{ title }}</title>
    {% else %}
        <title>FlowApp</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <img  width="50" height="50" src="{{ url_for('static', filename='profile_pics/' + 'logo2.png') }}" alt="Foto del Logo de FlowApp">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('principal.home') }}">Mis dispositivos</a>
              <a class="nav-item nav-link" href="{{ url_for('principal.about') }}">Acerca del Agua</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <button type="button" class="btn btn-primary">
                Notificaciones <span class="badge badge-light">0</span>
              </button>
                <a class="nav-item nav-link" href="{{ url_for('dispositivos.new_post') }}">Registrar Dispositivo</a>
                <a class="nav-item nav-link" href="{{ url_for('usuarios.account') }}">Mi Cuenta</a>
                <a class="nav-item nav-link" href="{{ url_for('usuarios.logout') }}">Salir</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('usuarios.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('usuarios.registro') }}">Registro Usuario</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Ten en cuenta!</h3>
            <p class='text-muted'>Recomendaciones.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Últimos consumos</li>
                <li class="list-group-item list-group-item-light">Información del Agua</li>
                <li class="list-group-item list-group-item-light">Estadísticas</li>
                <li class="list-group-item list-group-item-light"></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
